body {
  text-align: center;
  background: url("http://wallpoper.com/images/00/34/02/10/pokemon-latias_00340210.png");
  background-size: 100% auto;
}

nav {
  height: 75px;
  background-color: blue;
  display: block;
  margin-bottom: 20px;

}

h1 {
  font-family: 'Press Start 2P', cursive;
}

footer {

}

button {
  border-radius: 25px;
}

.home-button {
  display: flex;
  justify-content: flex-end;
}