body {
  text-align: center;
  /* background: linear-gradient(90deg, rgba(205,66,63,1) 0%, rgba(25,11,13,0.3841911764705882) 35%, rgba(201,191,195,0.8883928571428571) 97%); */
  background: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg")
}

nav {
  height: 75px;
  background-color: blue;
  display: block;
  margin-bottom: 20px;

}

h1 {
  font-family: 'Press Start 2P', cursive;
}

footer {

}

button {
  border-radius: 25px;
}