body {
  height: 100%;
  position: relative;
  text-align: center;
  background: url("http://wallpoper.com/images/00/34/02/10/pokemon-latias_00340210.png");
  background-size: 100% auto;
  margin-top: 100px;
}

.dark-theme {
  background: url("https://cdna.artstation.com/p/assets/images/images/014/379/714/large/obi-w-s.jpg?1543747273&dl=1");
  color: white;
}

header {
  background-color: #EFE9DF;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

header * {
  display: inline;
}

header li a {
  color: black;
  margin: 20px;
  text-decoration: none;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

h1 .dark-theme {
  color:white;
}

h4 {
  font-family: 'Roboto', sans-serif;
}

footer {
  margin-top: 20px;
  padding: 20px;
  border-top: 1px dotted black;
  height: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

button {
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
}

input {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}

.cardList {
  display: flex;
  justify-content: space-between;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

#home-button {
  margin-left: 50px
}

#footer-text {
  margin-bottom: 20px;
}